body {
  margin: 0;
  padding: 0;
  background-color: #fffafc; 
  font-family: "Georgia", "Times New Roman", cursive;
}

.encabezado {
  background-color: #ffe4e1;
  text-align: center;
  padding: 40px 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.encabezado h1 {
  color: #d07b83; 
  font-size: 3em;
  font-style: italic; 
  font-family: "Playfair Display", "Georgia", serif; 
  margin: 0;
  letter-spacing: 2px;
}
.descripcion {
  width: 80%;
  margin: 20px auto;
  text-align: center;
  font-size: 1.1em;
  color: #555;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
}
.imagen-contenedor {
  width: 80%;
  margin: 30px auto;
  text-align: center;
}
.menu {
  background-color: #e493b3; 
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(228, 147, 179, 0.4);
}
.lineas {
  text-align: center;
  margin-top: 40px;
}
.lista-lineas {   
 background-color: #e8a0a0;
  color: #fff;
  font-weight: bold;
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.1em;
}
.formulario { 
  background-color: #e8a0a0;
  color: #fff;
  font-weight: bold;
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.1em;
}
.footer {
  margin-bottom: 10px;
  font-size: 1.1em;
  font-style: italic;
}
